<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- References: http://www.eclipse.org/jetty/documentation/current/framework-weld.html
                     https://docs.jboss.org/weld/reference/latest/en-US/html/environments.html
         If using the BeanManagerResourceBindingListener, Jetty throws an
         java.lang.IllegalStateException: Nothing to bind for name BeanManager when processing
         wen[-overwrite].xml
    <listener>
      <listener-class>org.jboss.weld.environment.servlet.BeanManagerResourceBindingListener</listener-class>
    </listener>
    -->

    <!-- test web-overwrite.xml, value from that file should be used. -->
    <env-entry>
        <description>Example  of simple JDNI (String) value</description>
        <env-entry-name>helloName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type> <!-- Fully Qualified Class Name! -->
        <env-entry-value>web.xml</env-entry-value>
    </env-entry>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
